<div class="row">
	<div class="col-xs-12">
		<form (ngSubmit)="onSubmit()" #f="ngForm">
			<div class="row">
				<div class="col-sm-5 form-group">
					<label for="name">Name</label>
					<input 
					type="text" 
					id="name" 
					class="form-control"
					ngModel
					name="name"
					required
					#name="ngModel">
					<span class="help-block" *ngIf="!name.valid && name.touched">Please enter a name</span>
				</div>
				<div class="col-sm-3 form-group">
					<label for="amount">Amount</label>
					<input 
					type="number" 
					id="amount" 
					class="form-control"
					ngModel
					name="amount"
					required
					[pattern]="'^[1-9]+[0-9]*$'"
					#amount="ngModel">
					<span class="help-block" *ngIf="!amount.valid && amount.touched">Please enter a valid amount</span>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<button [disabled]="!f.valid" class="btn btn-success" type="submit">{{ editMode ? 'Update' : 'Add' }}</button>
					<button *ngIf="editMode" class="btn btn-danger" type="button" (click)="onDelete()">Delete</button>
					<button class="btn btn-primary" type="button" (click)="onClear()">Clear</button>
				</div>
			</div>
		</form>
	</div>
</div>